.base {
  align-items: center;
  background-color: #efeef6;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.control-container {
  margin-bottom: 20px;
}

.error {
  color: red;
}

.form {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 350px;
  width: 350px;
}

.input {
  height: 35px;
  width: 100%;
}